@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins" sans-serif;
}

.container {
  max-width: 1123px;
  margin: 0 auto;
  padding: 0 25px;
}

.site-header {
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.header__right {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.header__right nav {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

.header__nav-link {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
  opacity: 0.8;
  transition: all 0.3s;
}
.header__nav-link:hover {
  color: #173a56;
  opacity: 1;
  text-decoration: underline;
}

.active {
  opacity: 1;
}

.header__btn-sign-in {
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  color: #173a56;
  background-color: #ffffff;
  border: 1px solid #173a56;
  padding: 8px 16px;
}
.header__btn-sign-in:hover {
  color: #ffffff;
  background-color: #173a56;
  border: 1px solid #ffffff;
}

.header__btn-sign-up {
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  color: #ffffff;
  background-color: #02897a;
  border: 1px solid #ffffff;
  padding: 8px 16px;
}
.header__btn-sign-up:hover {
  color: #02897a;
  background-color: #ffffff;
  border: 1px solid #02897a;
}

.menu-icon {
  background-color: transparent;
  border: 0;
  display: none;
}

@media (max-width: 960px) {
  .header__right nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
@media (max-width: 600px) {
  .header__btn-sign-in {
    display: none;
  }
  .header__btn-sign-up {
    display: none;
  }
  .header__right .mode-icon {
    display: none;
  }
}
.hero-section {
  padding: 25px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0px;
}

.hero__content-wrapper {
  padding: 110px 0;
  max-width: 420px;
}

.hero__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
  margin-bottom: 18px;
}

.hero__text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
  margin-bottom: 45px;
}

.hero__btn-start {
  font-weight: 600;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  background-color: #02897a;
  border: 1px solid #ffffff;
  padding: 15px 41px;
  margin-right: 31px;
}
.hero__btn-start:hover {
  color: #02897a;
  background-color: #ffffff;
  border: 1px solid #02897a;
}

.hero__btn-watch {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  border: 0;
  background-color: #ffffff;
  color: #02897a;
}

.hero__bg-image {
  max-width: 600px;
}

@media (max-width: 1050px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column-reverse;
  }
  .hero__content-wrapper {
    max-width: 700px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .hero__content-wrapper {
    padding: 30px 0;
  }
  .hero__title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #22343d;
    margin-bottom: 18px;
  }
  .hero__text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #22343d;
    margin-bottom: 45px;
  }
  .hero__btn-start {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .hero__btn-watch {
    text-align: left;
  }
  .hero__bg-image {
    max-width: 300px;
  }
}
.product-section {
  padding: 100px 0;
}

.product__title-wrapper {
  max-width: 539px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 64px;
}

.product__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 34px;
  line-height: 60px;
  color: #22343d;
}

.product__content-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 204px;
  gap: 10px;
}

.product__content-box {
  width: 240px;
}

.product__content-suptitle {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #22343d;
  margin-top: 30px;
}

.product__content-suptext {
  padding-right: 35px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  margin-top: 13px;
}

@media (max-width: 950px) {
  .product__title-wrapper {
    width: 80%;
    margin-bottom: 50px;
  }
  .product__title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 50px;
    color: #22343d;
  }
  .product__content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 204px;
    gap: 10px;
  }
  .product__content-box {
    width: 240px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .product__content-suptitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 90%;
    color: #22343d;
  }
  .product__content-suptext {
    padding-right: 35px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #22343d;
  }
}
@media (max-width: 550px) {
  .product__content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 204px;
    gap: 10px;
    width: 100%;
    text-align: center;
  }
  .product__content-suptext {
    padding-right: 0px;
  }
}
.services-section {
  padding: 150px;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-direction: column;
}

.services__content--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.services__content-box {
  max-width: 486px;
}

.services__suptitle {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #22343d;
  margin-bottom: 8px;
}

.services__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #22343d;
  margin-bottom: 131px;
}

.services__suptitle-margin {
  margin-bottom: 12px;
}

.services__suptext {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  margin-bottom: 25px;
}

.services__content--wrapper p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  margin-bottom: 30px;
}

.remove-margin {
  margin-bottom: 23px;
}

.services__content--wrapper-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.services__content-box-2 {
  max-width: 486px;
}

.services__suptitle-2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #22343d;
  margin-bottom: 30px;
}

.services__title-2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #22343d;
  margin-bottom: 23px;
}

.service__text-2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #22343d;
  margin-bottom: 20px;
}

.service__context-list {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 30px;
  flex-direction: column;
}

.service__content-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

@media (max-width: 950px) {
  .services-section {
    padding: 100px 30px;
  }
  .service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-direction: column;
  }
  .services__content--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    flex-direction: column-reverse;
  }
  .services__content-box {
    max-width: 486px;
    margin-top: 100px;
  }
  .services__suptitle {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #22343d;
  }
  .services__title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #22343d;
    margin-bottom: 26px;
  }
  .services__suptitle-margin {
    margin-bottom: 12px;
  }
  .services__suptext {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    margin-bottom: 25px;
  }
  .services__content--wrapper p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
    margin-bottom: 30px;
  }
  .remove-margin {
    margin-bottom: 23px;
  }
  .services__content--wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: inherit;
  }
  .services__content-box-2 {
    max-width: 486px;
    width: 100%;
  }
  .services__suptitle-2 {
    margin-bottom: 16px;
  }
  .services__title-2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #22343d;
    margin-bottom: 23px;
  }
  .service__text-2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #22343d;
    margin-bottom: 20px;
  }
  .service__context-list {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 30px;
    flex-direction: column;
  }
  .service__content-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 550px) {
  .services__content--wrapper img {
    width: 60%;
    display: flex;
    margin: 0 auto;
  }
  .services__content--wrapper-2 img {
    width: 60%;
    display: flex;
    margin: 0 auto;
  }
  .services__content-box {
    width: 80%;
    margin: 0 auto;
  }
  .services__content-box-2 {
    width: 80;
    margin: 0 auto;
  }
  .services__suptitle {
    margin-top: 30px;
  }
  .service__context-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .service__content-item {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0px;
  }
  .services__content--wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0px;
  }
}
.process-section {
  padding: 150px 0;
}

.process__text-wrapper {
  max-width: 542px;
  margin: 0 auto;
}

.process__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #22343d;
  text-align: center;
  margin-bottom: 16px;
}

.process__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
  text-align: center;
  margin-bottom: 32px;
}

.process__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 98px;
  gap: 0px;
  -moz-column-gap: 178px;
       column-gap: 178px;
  row-gap: 24px;
}

.process__content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.process__content-box:nth-child(even) {
  flex-direction: row-reverse;
}

.process__content-text p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: black;
}

@media (max-width: 850px) {
  .process-section {
    padding: 100px 0;
  }
  .process__text-wrapper {
    width: 100%;
  }
  .process__content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    gap: 0px;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 10px;
  }
  .process__content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .process__content-box:nth-child(even) {
    flex-direction: row-reverse;
  }
  .process__content-text p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: black;
  }
}
.feedback-section {
  padding: 150px 0;
}

.feedback__text-wrapper {
  max-width: 542px;
  margin: 0 auto;
  text-align: center;
}

.feedback__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 34px;
  line-height: 54px;
  color: #22343d;
}

.feedback__text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}

.feedback__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.feedback__content-box {
  width: 327px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.feedback__content-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #737373;
  margin-top: 16px;
}

.feedback__content--box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  margin-top: 16px;
}

.feedback__content--box-wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 14px;
  flex-direction: column;
}

.feedback__content--box-tittle {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #02897a;
}

.feedback__content--box-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #252b42;
}

@media (max-width: 850px) {
  .feedback-section {
    padding: 50px 0;
  }
  .feedback__text-wrapper {
    width: 100%;
  }
  .feedback__content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    margin-top: 50px;
  }
  .feedback__content-box {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .feedback__content-box {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */