.process-section {
  padding: 150px 0;
}

.process__text-wrapper {
  max-width: 542px;
  margin: 0 auto;
}
.process__title {
  @include FontStyle(
    $weight: 700,
    $w-size: 32px,
    $height: 100%,
    $clr: $clr_text
  );
  text-align: center;
  margin-bottom: 16px;
}
.process__text {
  @include FontStyle(
    $weight: 500,
    $w-size: 16px,
    $height: 26px,
    $clr: $clr_text
  );
  text-align: center;
  margin-bottom: 32px;
}
.process__content-wrapper {
  @include GridBox($colmun: 1fr 1fr, $row: 98px, $gap: 0px);
  column-gap: 178px;
  row-gap: 24px;
}
.process__content-box {
  @include DisplayFlex($justify: space-between, $align: center, $gap: 0px);
}
.process__content-box:nth-child(even) {
  flex-direction: row-reverse;
}

.process__content-text p {
  @include FontStyle($weight: 500, $w-size: 16px, $height: 100%, $clr: black);
}

@media (max-width: 850px) {
  .process-section {
    padding: 100px 0;
  }

  .process__text-wrapper {
    width: 100%;
  }

  .process__content-wrapper {
    @include GridBox($colmun: 1fr, $row: 100px, $gap: 0px);
    column-gap: 0px;
    row-gap: 10px;
  }
  .process__content-box {
    @include DisplayFlex($justify: space-between, $align: center, $gap: 40px);
  }
  .process__content-box:nth-child(even) {
    flex-direction: row-reverse;
  }

  .process__content-text p {
    @include FontStyle($weight: 500, $w-size: 16px, $height: 100%, $clr: black);
  }
}
